<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.topcredu.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <!--
                인텐트 필터:
                액티비티 기동 조건을 설정한다. 다수를 설정할 수 있다.
                예) category.LAUNCHER : 런처(홈) 화면에 아이콘을 표시한다.
                action.MAIN : 아이콘을 클릭하면 이 액티비티를 표시한다.
            -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
            안드로이드의 4대 구성요소는 반드시 메니페스트 파일에
            선언되어야만 사용할 수 있다.
         -->
        <activity android:name=".Main2Activity"></activity>
    </application>

</manifest>